<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  
  <display-name>Pets</display-name>
  <description>Creates dogs and cats!</description>
  
  <servlet>
    		<servlet-name>Main</servlet-name>
    		<servlet-class>controllers.Main</servlet-class>
  </servlet>
  
  <servlet-mapping>
    		<servlet-name>Main</servlet-name>
   		<url-pattern>/animals</url-pattern>
  </servlet-mapping>
  
  <servlet>
	    <servlet-name>DisplayDog</servlet-name>
	    <servlet-class>controllers.DisplayDog</servlet-class>
	</servlet>
	
	<servlet-mapping>
	    <servlet-name>DisplayDog</servlet-name>
	    <url-pattern>/animals/dog</url-pattern>
	</servlet-mapping>
	
	<servlet>
	    <servlet-name>DisplayCat</servlet-name>
	    <servlet-class>controllers.DisplayCat</servlet-class>
	</servlet>
	
	<servlet-mapping>
	    <servlet-name>DisplayCat</servlet-name>
	    <url-pattern>/animals/cat</url-pattern>
	</servlet-mapping>
</web-app>