*{
	font: inherit;
	margin: 0px;
	padding: 0px;
}

.header{
	margin: auto;
	text-align: center;
	margin-top: 50px;
	width: 300px;
	border: 1px solid #C71585;
	color: #C71585;
	padding: 20px;
}

h3{
	font: 100 40pt"Helvetica Neue", sans-serif;
}

h4{
	font: 100 20pt"Helvetica Neue", sans-serif;
}

a{
		font: 100 15pt"Helvetica Neue", sans-serif;
		color: #C71585;
}

.links{
	margin: auto;
	text-align: center;
	margin-top: 20px;
	font: 100 "Helvetica Neue", sans-serif;
	width: 300px;
	border: 1px solid #C71585;
	color: #C71585;
	padding: 20px;
}