<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Random Word Generator</display-name>
  <description>Click a button and generate a random combo!</description>
  <servlet>
    <servlet-name>RandomWord</servlet-name>
    <servlet-class>com.yasmeenhaider.rwg.controllers.RandomWord</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RandomWord</servlet-name>
    <url-pattern>/random</url-pattern>
  </servlet-mapping>
</web-app>